.album-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    &__content {
        position: relative;
        display: flex;
        width: 70vw;
        height: 80vh;
        background-color: var(--main-background);
        border: 1px solid var(--background3);
        padding: 40px;
        border-radius: 8px;

        &--button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;

            &--icon {
                font-size: 1.5rem;
            }
        }

        &--form {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap:100px;       

            &--img-section {
                flex: 1 1 40%;
                display: flex;
                flex-direction: column;
                gap: 8px;
    
                &--title {
                    color: var(--gray-text);
                    font-weight: 500;
                }
    
                &--img {
                    width: 100%;
                    max-width: 369px;
                    height: auto;
                    min-width: 250px;
                    border-radius: 24px;
                    object-fit: cover;
                }
    
                &--change {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--gray-text);
                    transition: 0.15s ease-in-out;
                }
    
                &--change:hover {
                    color: var(--white-text);
                    cursor: pointer;
                }
            }

            &--inputs {
                flex: 1 1 55%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &--body {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    #description {
                        width: 100%;
                    }
                }

                &--options {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: end;
                    gap: 40px;
                    color: var(--gray-text);
                    transition: 0.15s ease-in-out;

                    .submit-btn {
                        width: fit-content;
                        padding: 16px;
                    }
                }

                &--options:hover {
                    color: var(--white-text);
                    cursor: pointer;
                }
            }
        }
    }

    &__error {
        position: absolute;
        left: 24px;
        bottom: 24px;
    }
}