.album-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 60vw;
        height: 80vh;
        background-color: var(--background3);
        padding: 40px;
        border-radius: 8px;

        &--button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;

            &--icon {
                font-size: 1.5rem;
            }
        }

        &--img-section {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 18px;

            &--title {
                color: var(--gray-text);
                font-weight: 500;
            }

            &--img {
                width: 369px;
                height: 319px;
                border-radius: 24px;
            }

            &--change {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--gray-text);
                transition: 0.15s ease-in-out;
            }

            &--change:hover {
                color: var(--white-text);
                cursor: pointer;
            }
        }

        &--form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &--options {
                display: flex;
                align-items: center;
                gap: 24px;
                color: var(--gray-text);
                transition: 0.15s ease-in-out;
            }

            &--options:hover {
                color: var(--white-text);
                cursor: pointer;
            }
        }
    }
}