.content {
    display: flex;
    gap: 40px;
    font-size: 1.25rem;

    & > *:first-child {
        flex: 0 0 auto;
    }

    & > *:last-child {
        flex: 1;
    }

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}