.form-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    &__links{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}