.author-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    padding-bottom: 40px;
    border: 2px solid var(--background3);
    background-color: var(--background2);

    &:hover {
        cursor: pointer;
    }

    &__banner {
        display: flex;
        height: 148px;
        background-color: var(--gray-text);
    }

    &__profile {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        gap: 24px;

        &--img {
            width: 172px;
            height: 172px;
            border-radius: 50%;
            border: 4px solid var(--background3);
        }

        &--name {
            color: var(--white-text);
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    &__author-data {
        display: flex;
        width: 100%;
        padding-top: 10px;

        &--single-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 56px;
            gap: 8px;
            padding: 0 48px;
            border-left: 2px solid var(--gray-text);
        }

        &--single-info:first-child {
            border-left: none;
        }
    }
}